body{
    font-family: "Open Sans", "Sans-serif";
    font-size: 18px;
    color: #333;
    background: #f8f8f8 repeat;
}
.container{
    max-width: 760px;
    margin: 0 auto;
}
.navbar{
    height: 80px;
    font-family: "Montserrat", "Serif";
    margin-bottom: 80px;
}
.logo{
    float: left;
    margin: 10px 0;
    height: 80px;
    line-height: 80px;
    width: 300px;
}
.logo a{
    color: #000;
    font-weight: bold;
}
.project-hero{
    width: 100%;
}
img.face{
    height: 60px; width: 60px;
    border-radius: 50%;
    vertical-align: middle;
}
.navbar .title{
    font-size: 25px;
    padding-left: 10px;
}
.navbar .nav{
    float: right;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    font-size: 16px;
}
.navbar .nav li{
    float: left;
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}
a{
    text-decoration: none;
    color: #e74c3c;
}
a:hover{
    color: #c0392b;
}
h1, h2, h3, h4{
    font-family: "Montserrat", "Serif";
}
h1 strong, h2 strong, h3 strong, h4 strong{
    color: #e74c3c;
}
h1{
    font-size: 30px;
    text-align: center;
}
h2{
    margin-top: 2em;
    font-size: 25px;
}
h2.subtitle{
    margin-top: 0;
    font-size: 20px;
    text-align: center;
}
p{
    line-height: 150%;
    text-align: justify;
}
.alert{
    padding: 5px 15px;
    margin: 10px 0;
    border-radius: 3px;
    border: solid 1px #2980b9;
    background-color: #e8eff3;
}
.alert p{
    text-align: center;
}
.alert a{
    color: #2980b9;
}
.footer{
    clear: both;
    color: #999;
    font-size: 90%;
    margin-top: 40px;
    margin-bottom: 2em;
}
.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignleft{
    float: left;
}
.alignright{
    float: right;
}
table.archive{
    width: 100%;
}
.archive td{
    padding: 0.25em 0;
}
td.year, td.location{
    text-align: right;
}
td.year{
    font-weight: bold;
}
td.day, td.location{
    color: #aaaaaa;
}
td.day{
    padding-right: 0.5em;
}
.keep-reading{
    text-align: right;
}
.keep-reading a{
    color: #aaaaaa;
}
.keep-reading a i{
    color: #e74c3c;
}
.post-link{
    margin: 15px 0 30px 0;
}

/* Social links */
a .fa-twitter{
    color: #00acde;
}
a .fa-github-alt{
    color: #333333;
}
a .fa-linkedin-square{
    color: #0e76a8;
}
a .fa-pinterest{
    color: #c8232c;
}
