{% extends "skeleton/_root.html" %}

{% block all %}
{% spaceless %}
<tr>
{% ifequal ty 'month' %}
<td class='month'>
{% endifequal %}
{% ifequal ty 'year' %}
<td colspan='2' class='year'>
{% endifequal %}
    {% ifnotequal node page.node %}
    {% if node.has_listing %}<a href="{{ node.listing_url }}">{% endif %}
    {{ node.name|unslugify }}
    {% if node.has_listing %}</a>{% endif %}
    {% endifnotequal %}
{% ifequal ty 'month' %}
</td><td>
{% endifequal %}
</td>
</tr>
{% for list_page in node.pages %}
{% ifnotequal list_page node.listing_page %}
{% if list_page.display_in_list %}
    <tr>
        <td class='day'>{{ list_page.created|date:"d"|capfirst}}</td>
        <td class='article'>
        <a href="{{ list_page.url }}">
        {% with list_page.name_without_extension|remove_date_prefix|unslugify as default_title %}
            {{ list_page.title|default_if_none:default_title }}
        {% endwith %}</a>
        {% if page.excerpt %}
            {% render_excerpt list_page %}
        {% endif %}
        </td>
    </tr>
{% endif %}
{% endifnotequal %}
{% endfor %}
</ul>
{% endspaceless %}
{% endblock %}
