{% extends "skeleton/_base.html"%}

{% block content %}
<h1>{{page.title}}</h1>
<table class='archive'>
{% for node in page.node.walk %}
    {% with node.ancestors|length as depth%}
        {% ifequal depth 4 %}
            {% with 'month' as ty %}
            {% include "skeleton/_innerlisting.html" %}
            {% endwith %}
        {% endifequal %}
        {% ifequal depth 3 %}
            {% with 'year' as ty %}
            {% include "skeleton/_innerlisting.html" %}
            {% endwith %}
        {% endifequal %}
    {% endwith %}
{% endfor %}
</table>
{% endblock %}
