{% extends "skeleton/_root.html" %}
{% block all %}
<div class='sidebar alignleft'>
    {# <a class='logo' href='{{ site.url }}/'><img src="{{ site.url }}/media/images/logo.png" alt='Jair Trejo'/></a> #}
    <h1><a href="{{ site.url }}/">Jair Trejo</a></h1>
    <img class="profile-pic" src="{{ site.url }}/media/images/jair.jpg"></img>
    <p>I'm Jair Trejo, a web developer from Mexico City. I am passionate about technological creation: hardware, software, web development, etc.</p>
    <p class='keep-reading'><a href='{{site.url}}/about'>More about me</a></p>
    <h2>Contact me</h2>
    <p>You can follow me on Twitter: <a href="http://twitter.com/jairtrejo">@jairtrejo</a></p>
    <p>Or shoot me an email: <strong>&#106;air&#64;jairtrejo&#46;&#109;x</strong></p>
    <h2>Elsewhere</h2>
    <ul>
        <li>
            <a href="http://github.com/jairtrejo">Github</a>
        </li>
        <li>
            <a href="http://coderwall.com/jairtrejo">Coderwall</a>
        </li>
        <li>
            <a href="http://mx.linkedin.com/in/jairtrejo/">Linked In</a>
        </li>
    </ul>
</div>
{% endblock %}
