{% extends "skeleton/_root.html" %}
{% block all %}
<div class='sidebar alignleft'>
    <a class='logo' href='{{ site.url }}/'><img src="{{ site.url }}/media/images/logo.png" alt='Jair Trejo'/></a>
    <p>Soy un mecatrónico mexicano, apasionado de la creación tecnológica: hardware, software, páginas web, etc.</p>
    <p class='keep-reading'><a href='{{site.url}}/about'>Más sobre mí.</a></p>
    <h2>Sobre este blog</h2>
    <p>En este blog recogeré mis impresiones, reflexiones y comentarios sobre los temas que me interesan: tecnología, desarrollo de software, sistemas mecatrónicos, matemáticas, idioma japonés, etc.</p>
    <h2>Contacto</h2>
    <p>Puedes seguirme en Twitter: <a href="http://twitter.com/jtrejomx">@jtrejomx</a></p>
    <p>O escribirme a: <strong>&#106;air&#64;jairtrejo&#46;&#109;x</strong></p>
    <h2>En otros lugares</h2>
    <ul>
        <li>
            <a href="http://coderwall.com/jairtrejo">Coderwall</a>
        </li>
    </ul>
</div>
{% endblock %}
