{% extends "skeleton/_base.html" %}
{% hyde
    created: 2010-12-29 14:30:00
    listing: True
%}

{% block content %}
{% recent_posts recents 6 %}

{% with recents|first as post %}
<h1>{{ post.title }}</h1>
{% if post.subtitle %}<h2 class="subtitle">{{ post.subtitle }}</h2>{% endif %}
<p class="date"><time pubdate>{{ post.created|date:"l F d, Y" }}</time></p>
{% render_excerpt post 1000 %}
<p class='keep-reading'><a href='{{ post.url }}'>Keep reading <i class="fa fa-fw fa-chevron-right"></i></a></p>
{% endwith %}

{% for post in recents|slice:"1:" %}
<p class="post-link">
    <span class="date"><time pubdate>{{ post.created|date:"N m, Y" }}</time></span> <a href="{{ post.url }}">{{ post.title }}</a>
</p>
{% endfor %}

<p class="keep-reading">
    <a href="{{ site.url }}/blog">Archive <i class="fa fa-fw fa-chevron-right"></i></a>
</p>

{% endblock %}
