{% extends "_talk.html" %}

{% hyde
    title: "Fabric for fun and profit"
    location: "PyCon APAC 2013 - Tokyo, Japan"
    video: "<iframe width='640' height='360' src='//www.youtube.com/embed/bC_XrviSUEM' frameborder='0' allowfullscreen></iframe>"
%}

{% block description %}
A talk on [fabric](http://docs.fabfile.org/en/1.8/), a python tool for streamlining the use of ssh for systems administration, and how we use it at Vinco Orbis.
I start with a brief description and introduction of `fabric`, then I presented a couple of case studies highlighting task composition, the very pythonesque nature of `fabric` and the convenience of it's ssh function when interacting with vagrant.

## Slides
<center>
    <script async class="speakerdeck-embed" data-id="a91ac060ff310130d8967ab9ea6ff264" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
</center>
{% endblock %}
