{% extends "_talk.html" %}

{% hyde
    title: "Storybook & React Native"
    location: "ReactJS Meetup 08/16 - Mountain View, California"
%}

{% block description %}
A tour of React Storybook, a tool to develop React Components in isolation. It focuses on how it's been useful to me in developing React Native applications.

## Slides
<center>
    <script async class="speakerdeck-embed" data-id="224d914b414e4f8f8b117b66e9bbd3a8" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
</center>
{% endblock %}


