{% extends "_about.html" %}

{% hyde
    title: "Acerca de mí"
%}

{% block article %}

#{{page.title}}#

¡Hola! Soy Jair Trejo, un mecatrónico mexicano apasionado de la creación tecnológica.

Tuve mi primer computadora a los siete años y desde entonces me ha fascinado todo lo tecnológico, desde las naves espaciales hasta el mecanismo que sube agua a mi tinaco. Durante toda mi vida me ha gustado explorar las posiblidades de la **tecnología** como medio de **expresión** y me ha emocionado su uso para mejorar nuestra **calidad de vida**.

Desde mi infancia he tenido una gran afición a las **computadoras**. He programado--¡empecé con BASIC!--desde muy pequeño, y después estudié programación como carrera técnica durante el bachillerato, por lo que tengo mucha experiencia tratando de hacer que la computadora haga lo que quiero. Normalmente me salgo con la mía.

Otro de mis grandes intereses es **Japón** y el idioma japonés. He estudiado el idioma desde agosto de 2007, primero en el CENLEX Santo Tomás y luego en la Asociación México-Japonesa; ambas excelentes escuelas. Actualmente cuento con el Nivel 3 del 日本語能力試験 (Examen de habilidad en el idioma japonés) y me estoy preparando para obtener el 2.

También soy **rotaractivo** del Club Rotaract La Herradura-Politécnico, donde jóvenes de entre 18 y 30 años participamos en actividades de servicio a la comunidad, fomento de la amistad internacional y desarrollo profesional.

Últimamente me dedico al desarrollo de **sistemas y páginas web**, haciendo énfasis en la usabilidad, el buen diseño, el apego a estándares web y la flexibilidad para ajustarse a las necesidades de mis clientes. En la actualidad estoy trabajando de tiempo completo en [Vinco Orbis](http://vincoorbis.com/), una empresa de desarrollo de proyectos de TI. Además, me encargo de la parte tecnológica de [Distintas Latitudes](http://distintaslatitudes.net), revista en línea de reflexión latinoamericana.

{% endblock %}
