{% extends "_about.html" %}

{% hyde
    title: "About me"
%}

{% block article %}

#{{page.title}}#

<div class='figure alignright'>
    <img class='article-image' style="margin:0" src='http://www.gravatar.com/avatar/4b8eaf6a72ba36db1851b76ed04bee22.png?s=200' />
</div>

My name is Jair Trejo, I am a web developer, consultant and manager based on Mexico City. I have been developing software professionally for the past four years, mostly on the web, but my interest in programming is a life-long affair.

I have 6 years of experience working with Python, and have worked in Django projects for the past two years. I have a solid understanding of web development and can easily move up and down the stack.

Through my career I have almost always written my own front ends, and as of late have been working on single page apps using AngularJS.

This days I am learning Clojure, and am particularly interested in ClojureScript and `core/async`.

{% endblock %}
